
<!-- Default Segment -->
<ion-segment color="danger" mode="ios" scrollable >


    <ion-segment-button checked layout="icon-start">
      <!-- <ion-icon name=""></ion-icon>-->
     <img src="../../../assets/img/1463234.svg" alt="" width="20px" class="aDomicilio">
      <ion-label >A domicilio</ion-label>
    </ion-segment-button>


    <ion-segment-button checked layout="icon-start">
        <!-- <ion-icon name=""></ion-icon>-->
       <img src="../../../assets/img/parallevar.png" alt="" width="20px" class="aDomicilio">
        <ion-label >Para llevar</ion-label>
      </ion-segment-button>


  
  </ion-segment>